<launch>
  <node pkg="nodelet" type="nodelet" name="laser_filter" args="standalone laser_filters/ScanShadowsFilterNodelet">
    <rosparam command="load" file="$(find turtlebot_navigation)/param/laser_filter.yaml" />
    <remap from="scan" to="scan_raw" />
    <remap from="scan_filtered" to="scan" />
  </node>
</launch>
